body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background: #e4e4e4;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li a {
    background: #333;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

ul li a:hover {
    background: #575757;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: hsl(0, 0%, 20%);
    background: hsl(0, 0%, 89%);
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    background: #9c0707;
}
